<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{web && web.title ? web.title : 'BeFriendlier'}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="BeFriendlier" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:description" content="Match with, and find Twitch friends! Register for free, and join a supported Twitch chat!">
  <meta property="og:url" content="https://befriendlier.app/" />
  <meta property="og:site_name" content="BeFriendlier" />
  <meta name="keywords" content="twitch, bot, tinder-like, friend matcher, profiles, twitch bot">
  <link rel="stylesheet" text="text/css" href="/css/stylesheet.css" />
</head>
  <body>
    @include(web.template)
    @include('includes/flashMessages')
  </body>
  <script src="/js/Index.js"></script>
</html>
