<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" text="text/css" href="/css/stylesheet.css" />
  <title>404 Not Found</title>
</head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        @include('includes/navbar')
      </div>
      <div class="hero-body">
        <div class="container">
          <h3 class="has-text-centered is-size-3">404 Not Found</h3>
          <h3 class="has-text-centered subtitle">Previously on lost...</h3>
        </div>
      </div>
      <div class="hero-foot">
        @include('includes/footer')
      </div>
    </section>
  </body>
</html>
