@if(flashMessages.get('message'))
  <div class="toast animated fadeIn">
    <div class="notification {{ flashMessages.get('message').error ? 'is-danger' : 'is-success' }}">
      <button class="delete"></button>
      <span>{{ flashMessages.get('message').error || flashMessages.get('message').message }}</span>
    </div>
  </div>
@endif
