<div class="level is-mobile is-marginless">
  <span class="level-item">Copyright 2020</span>
  <a href="/privacy" class="level-item"><button class="button is-text">Privacy policy</button></a>
  <a href="/terms" class="level-item"><button class="button is-text">Terms of Service</button></a>
  <a href="/licenses" class="level-item"><button class="button is-text">Licenses</button></a>
</div>
