<div class="level is-mobile">
  <span class="level-item">Copyright 2020</span>
  <a href="/privacy" class="level-item">Privacy policy</a>
  <a href="/terms" class="level-item">Terms of Service</a>
  <a href="/licenses" class="level-item">Licenses</a>
</div>