<section class="hero is-fullheight">
  <div class="hero-head">
    @include('includes/navbar')
  </div>
  <div class="hero-body">
    <div class="container">
      <hr>
      <div class="card">
        <div class="card-content">
          {{ inspect(profile) }}
        </div>
      </div>
    </div>
  </div>
</section>